{% extends "bootstrap/base.html" %}

{% block head %}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}">
{{super()}}
<link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon" />
<link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon" />
<link rel="apple-touch-icon" href="{{url_for('static', filename='img/favicon.png')}}" sizes="57x57" />
{% endblock %}

{% block title %}什么值得做{% endblock %}

{% block body %}
<div id='wrap'>
{% block navbar %}
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
        data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main.index') }}">什么值得做</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('main.index') }}">Python</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('main.about_page') }}">关于</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  {% block msg_content %}
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      {% if category == 'message' %}
      <div class="alert alert-warning">
        <button class="close" type="button" data-dismiss="alert">&times;</button>
        {{ message|safe }}
      </div>
      {% else %}
      <div class="alert {{ category }}">
        <button class="close" type="button" data-dismiss="alert">&times;</button>
        {{ message|safe }}
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
  {% endblock %}
<a href="https://github.com/namco1992/job_analysis"><img style="position: absolute; top: 0; left: 0; border: 0; z-index: 999;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>
  {% block page_content %}
  {% endblock %}
  <div id="push"></div>
{% endblock %}
<!-- footer begin -->
</div>
  <div id="footer">
      <div class="container">
        <div class="text-center">
          <p class="text-muted" style="margin-top: 20px">Copyright © 2016 example.com All rights reserved. </p>
          <p><a href="https://github.com/namco1992/job_analysis/issues">Have Issues?</a></p>
        </div>
      </div>
  </div>

  {% block scripts %}
    {{ super() }}
  {% endblock %}
{% endblock %}


